.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    font-style: italic;
}
table .image {
    height: 50px;
    display: block;
}
.image-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}